<p class='fst-italic fw-light'>
"Journaling is like whispering to one's self
</br>
and listening at the same time" ~ Mina Murray
</p>

<%= link_to 'Get Started', new_user_session_path, class: 'btn btn-primary' %>